@page
@model BeanSceneReservationSystem.Pages.Reservations.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Reservation_Sitting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Reservation_Sitting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Reservation_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Reservation_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Reservation_Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Reservation_Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Reservation_Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Reservation_Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Reservation_NumOfGuests)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Reservation_NumOfGuests)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Reservation_Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Reservation_Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Reservation_TableNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Reservation_TableNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Reservation_Source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Reservation_Source)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Reservation_Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Reservation_Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Reservation_Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Reservation_Status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Reservation.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
